/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
body {
    background-color: white;
    font-family: "Merriweather", "helvetica", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 150px;
}
#logo-link {
    position: absolute;
    left: 10px;
    padding: 5px;
}
.logo {
    width: 150px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}
nav a{
    display: block;
    color: #D40000;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 1.2em;
}
nav a:hover {
    background-color: #b9b7b7 ;
    color: white;
}
.headings {
    color: #D40000;
    font-family: "Oswald";
    font-size: 1.8em;
}
#home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
#home-grid div{
    grid-column: 1/4;
}
#home-grid img{
    grid-column: 4/6;
    width: 100%;
    max-width: 500px;
}